<html></html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#221811] dark group/design-root overflow-x-hidden" style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#473324] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 4H17.3334V17.3334H30.6666V30.6666H44V44H4V4Z" fill="currentColor"></path></svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Rustic Tobacco</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">Shop</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Learn</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">About</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Contact</a>
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#473324] text-white text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Cart (0)</span>
            </button>
          </div>
        </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[920px] flex-1">
            <div class="flex flex-wrap gap-2 p-4">
              <a class="text-[#c8a993] text-base font-medium leading-normal" href="#">Home</a>
              <span class="text-[#c8a993] text-base font-medium leading-normal">/</span>
              <a class="text-[#c8a993] text-base font-medium leading-normal" href="#">Shop</a>
              <span class="text-[#c8a993] text-base font-medium leading-normal">/</span>
              <span class="text-white text-base font-medium leading-normal">Tobacco</span>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/1544e40c-04e3-433a-9ecd-75d3a3ce746f.png");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/62b35be9-bf07-48db-aedd-5653c4f211e2.png");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/0b50543c-1eb2-4dd5-a114-6664e0d131c8.png");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/028c1e61-605c-4192-9609-f27500355f23.png");'
                ></div>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Product Description</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              This is a description of a tobacco product. It includes details about the product, its quality, and the experience it provides. It also may include information about
              the producer, the region in which it was grown, and any special characteristics that make it unique.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Product Details</h2>
            <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#654834] py-5">
                <p class="text-[#c8a993] text-sm font-normal leading-normal">Size</p>
                <p class="text-white text-sm font-normal leading-normal">1.5 oz</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#654834] py-5">
                <p class="text-[#c8a993] text-sm font-normal leading-normal">Strength</p>
                <p class="text-white text-sm font-normal leading-normal">Mild</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#654834] py-5">
                <p class="text-[#c8a993] text-sm font-normal leading-normal">Flavor</p>
                <p class="text-white text-sm font-normal leading-normal">Natural</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#654834] py-5">
                <p class="text-[#c8a993] text-sm font-normal leading-normal">Country of Origin</p>
                <p class="text-white text-sm font-normal leading-normal">USA</p>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Price</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(228px,1fr))] gap-2.5 px-4 py-3 @3xl:grid-cols-4">
              <div class="flex flex-1 flex-col gap-4 rounded-xl border border-solid border-[#654834] bg-[#32241a] p-6">
                <div class="flex flex-col gap-1">
                  <h1 class="text-white text-base font-bold leading-tight">$9.99</h1>
                  <span class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">$9.99</span>
                </div>
              </div>
              <div class="flex flex-1 flex-col gap-4 rounded-xl border border-solid border-[#654834] bg-[#32241a] p-6">
                <div class="flex flex-col gap-1">
                  <h1 class="text-white text-base font-bold leading-tight">Subscribe and Save 10%</h1>
                  <span class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">$8.99</span>
                </div>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Quantity</h2>
            <div class="flex flex-wrap gap-3 p-4">
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#654834] px-4 h-11 text-white has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#e87d30] relative cursor-pointer"
              >
                One-time purchase
                <input type="radio" class="invisible absolute" name="fc97fe72-e5ce-4f70-a330-beb2698b5b3c" />
              </label>
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#654834] px-4 h-11 text-white has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#e87d30] relative cursor-pointer"
              >
                Subscribe and save 10%
                <input type="radio" class="invisible absolute" name="fc97fe72-e5ce-4f70-a330-beb2698b5b3c" />
              </label>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#e87d30] text-[#221811] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Add to Cart</span>
              </button>
            </div>
            <p class="text-[#c8a993] text-sm font-normal leading-normal pb-3 pt-1 px-4">Free shipping over $75</p>
          </div>
          <div class="layout-content-container flex flex-col w-[360px]">
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Reviews</h2>
            <div class="flex flex-wrap gap-x-8 gap-y-6 p-4">
              <div class="flex flex-col gap-2">
                <p class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">4.5</p>
                <div class="flex gap-0.5">
                  <div class="text-[#e87d30]" data-icon="Star" data-size="18px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="text-[#e87d30]" data-icon="Star" data-size="18px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="text-[#e87d30]" data-icon="Star" data-size="18px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="text-[#e87d30]" data-icon="Star" data-size="18px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="text-[#e87d30]" data-icon="Star" data-size="18px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <p class="text-white text-base font-normal leading-normal">100 reviews</p>
              </div>
              <div class="grid min-w-[200px] max-w-[400px] flex-1 grid-cols-[20px_1fr_40px] items-center gap-y-3">
                <p class="text-white text-sm font-normal leading-normal">5</p>
                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#654834]"><div class="rounded-full bg-[#e87d30]" style="width: 30%;"></div></div>
                <p class="text-[#c8a993] text-sm font-normal leading-normal text-right">30%</p>
                <p class="text-white text-sm font-normal leading-normal">4</p>
                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#654834]"><div class="rounded-full bg-[#e87d30]" style="width: 30%;"></div></div>
                <p class="text-[#c8a993] text-sm font-normal leading-normal text-right">30%</p>
                <p class="text-white text-sm font-normal leading-normal">3</p>
                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#654834]"><div class="rounded-full bg-[#e87d30]" style="width: 20%;"></div></div>
                <p class="text-[#c8a993] text-sm font-normal leading-normal text-right">20%</p>
                <p class="text-white text-sm font-normal leading-normal">2</p>
                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#654834]"><div class="rounded-full bg-[#e87d30]" style="width: 10%;"></div></div>
                <p class="text-[#c8a993] text-sm font-normal leading-normal text-right">10%</p>
                <p class="text-white text-sm font-normal leading-normal">1</p>
                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#654834]"><div class="rounded-full bg-[#e87d30]" style="width: 10%;"></div></div>
                <p class="text-[#c8a993] text-sm font-normal leading-normal text-right">10%</p>
              </div>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#473324] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Write a review</span>
              </button>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">You may also like</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/7d11338b-202f-40fc-b86d-ac3fb141b0fb.png");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">American Spirit</p>
                  <p class="text-[#c8a993] text-sm font-normal leading-normal">$2.99</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/2717504a-ff58-41eb-882b-14868ca77f76.png");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Natural American Spirit</p>
                  <p class="text-[#c8a993] text-sm font-normal leading-normal">$2.99</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>